mixin user-card({status, level, img, name, listCountries, listHashtags, transport})
  .user-card&attributes(attributes)
    .user-card__header
      .user-card__img
        picture
          source(type="image/webp", srcset=`img/content/users/${img}.webp 1x, img/content/users/${img}@2x.webp 2x`, width="285", height="265")
          img(src=`img/content/users/${img}.jpg`, width="285", height="265", loading="lazy", alt=`На фото ${name}`)

      .user-card__level
        svg(width="60", height="60", viewBox="0 0 64 64", aria-hidden="true")
          if level >= 90
            circle(cx="32", cy="32", r="30", style=`stroke-dashoffset: calc(3.14159 * 30 * 2 * (1 - ${level - 5} / 100));`)
          else if level >= 100
            circle(cx="32", cy="32", r="30", style=`stroke-dashoffset: calc(3.14159 * 30 * 2`)
          else if level < 90
            circle(cx="32", cy="32", r="30", style=`stroke-dashoffset: calc(3.14159 * 30 * 2 * (1 - ${level} / 100)) ;`)
        span.user-card__level-count= level
        span.user-card__level-text level

    ul.user-card__list-countries
      each country in listCountries
        - const [key, value] = Object.entries(country)[0];
        li.user-card__item-countries
          picture
            source(type="image/webp", srcset=`img/content/flags/${key}.webp 1x, img/content/flags/${key}@2x.webp 2x`, width="35", height="24")
            img(src=`img/content/flags/${key}.png`, width="35", height="24", alt=`Флаг ${value}`, data-tooltip, data-title=`${value}`)

    .user-card__wrapper
      h3.user-card__title(class=`user-card__title--${status}`)
        a(href="#")= name
      p.user-card__text
        each hashtag in listHashtags
          = `#${hashtag} `

      ul.user-card__transport-list
        each entry in Object.entries(transport)
          - const key = entry[0];
          - const value = entry[1];

          li.user-card__transport-item(class=`${value.isActive ? 'is-active' : ''}`)
            +icon(key, 25, 25)(data-tooltip, data-title=`${value.title}`)
